@model ApplicationLayer.Areas.Account.Models.RoleViewModel

@{
    ViewBag.Title = "Roles";
}

<h2>Roles <small>EDIT</small></h2>
<hr/>

@using (Ajax.BeginForm("Edit", "", new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "showSuccess",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "content"
        }, new { @id = "rolesAdminForm", @class = "row" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="submit" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
