<script src="~/Scripts/jquery/jquery-ui.min.js"></script>
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/wiselinks/wiselinks-1.2.2.min.js"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/wiselinks/coffeeScripts/coffee")"></script>
<script src="~/Scripts/metisMenu/metisMenu.js"></script>
<script src="~/Scripts/sb-admin-2/sb-admin-2.js"></script>
<script src="~/Scripts/notify/notify.min.js"></script>


<script type="text/javascript">
    function showSuccess() {
        $.notify("Save successful!", {
            className: "success",
            position: "top center"
        });

        $(".hideAfterSuccess").hide();

        return false;
    };

    function showError() {
        $.notify("An error occured", {
            className: "error",
            position: "top center"
        });
        return false;
    };

    function showDeleteSuccess() {
        $.notify("Item deleted!", {
            className: "success",
            position: "top center"
        });
        return false;
    };

    if ($(".navbar-static-top").length == 0)
        $("#page-wrapper").css("margin", 0);

    $("body").on("click", "tr[id]", function () {
        $("#" + ($(this).attr("id"))).trigger("click");
    });

    $("body").on("click", "#submit", function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        var f = $(this).closest("form");
        var isValid = $(f).valid();

        if (isValid) {
            $(this).addClass("disabled");

            $.ajax({
                url: $(f).attr("action"),
                type: 'POST',
                data: $(f).serialize(),
                success: function (data, textStatus) {
                    $.ajax({
                        url: $(f).attr("action"),
                        type: 'GET',
                        success: function (data) {
                            $("#content").html(data);
                        }
                    })
                    if (textStatus == "success") {
                        //$(f)[0].reset();
                        showSuccess();
                    }
                    else
                        showError();
                },
                complete: function (data) {
                    $("#submit").removeClass("disabled");
                    $('#content :input[type!=hidden]').first().focus();
                }
            })
        }
        else {
            showError();
        }
    });

    $("body").on("click", "#createButton", function () {
        $(".createLink").trigger("click");
    });

    $("body").on("click", ".glyphicon-remove", function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        $('#deleteConfirmDialog').dialog('open');
        $(this).attr("clicked", true);
    });

    $(".dropdown-menu").on("click", function () {
        $(this).parent().removeClass("open");
    });

    var deleteItem = function () {
        var id = $("[clicked=true]").attr("value");
        var controller = $(".table").attr("id");
        var deleteUrl = '@Url.Action("Delete", "_controller_", new { id = "_id_", area = "Account" })'.replace("_id_", id).replace("_controller_", controller);
        $.ajax({
            type: 'POST',
            url: deleteUrl,
            success: function (data) {
                showDeleteSuccess();
                refreshIndex();
            },
            error: function () {
                showError();
            }
        });
    };

    var refreshIndex = function () {
        var controller = $(".table").attr("id");
        var url = '@Url.Action("Index", "_controller_", new {area = "Account"})'.replace("_controller_", controller);
        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                $("#content").html(data);
            }
        })
    };

    var initDialog = function (dialogId) {
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function (title) {
                if (!this.options.title) {
                    title.html("&#160;");
                } else {
                    title.html(this.options.title);
                }
            }
        }));
    };

    var initDeleteDialog = function (id, title, functionCall, yes, cancel) {
        $("#" + id).dialog({
            autoOpen: false,
            resizable: false,
            modal: false,
            title: "<div class='widget-header'><h4>" + title + "</h4></div>",
            buttons: [{
                html: "<i class='fa fa-check'></i>&nbsp; " + yes,
                "class": "btn btn-primary",
                click: function (e) {
                    e.stopImmediatePropagation();
                    $(this).dialog("close");
                    functionCall.apply();
                }
            }, {
                html: "<i class='fa fa-times'></i>&nbsp; " + cancel,
                "class": "btn btn-default",
                click: function () {
                    $(this).dialog("close");
                }
            }]
        });
    };

    $(document).ready(function () {
        $("a").attr("data-push", true);
        $('#content :input[type!=hidden]').first().focus();
    });
</script>